<footer class="sticky-footer bg-white mt-3">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; StudentHub 2022</span>
        </div>
    </div>
    <div class="container pt-4">
        
        
</footer>