<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="StudentHub home page presents the whole image for users. It contains the 4 main features available for students to use. From it students choose their path either navigate studyspace, schedule, clubs or book an appointment">
    <meta name="keywords" content="studentHub services, study notes, college schedule, college clubs, appointment, smart study space, curriculum summary, start point to studentHub, my colleagues study drafts, lectures schedule, section times, university activities, professors office hours">

    <title>Home - StudentHub</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/stylesheet.css" rel="stylesheet">

</head>
<body id="page-top">
<%- include ("header.ejs") %>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    

                   

                    <div class="row">

                        
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-3">

                            
                            <!-- Illustrations -->
                            
                            <div class="row">
                                <div class="col-lg-12">
                            <div class="card shadow mb-4 ">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Services</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid float-right px-3 px-sm-4 mt-3 mb-4" style="width: 25rem; height: 12rem;"
                                            src="img/undraw_operating_system_re_iqsc.svg" alt="StudentHub encourage you to enhance your academic performance">
                                    </div>
                                    <h3 class="card-text text-center pt-5">Enjoy Using Our Services To Improve Your <br><b class="text-primary ">Academic Performance!</b></h3>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                    
                    <div class="row-12 card-deck mx-2 pb-3 " >
                        <div class="card shadow ">
                            
                            <div class="card-body">
                                <img src="img/undraw_add_notes_re_ln36.svg" alt="Notes sharing section by studentHub  is very important if you need to be A+ student" class="img-fluid px-3 px-sm-2 mt-3"  style="width: 25rem;">
                            </div>
                            <a href="studyspace" class="btn btn-primary btn-icon m-3">
                               
                                <span class="text">Study Space</span>
                            </a>
                        </div>
                        <div class=" card shadow ">
                            
                            <div class="card-body">
                                <img src="img/undraw_booking_re_gw4j.svg" alt="Your easiest way to catch your professors office hours, studentHub always provide available appointments" class="img-fluid px-3 px-sm-2 mt-3" style="width: 25rem;">
                            </div>
                            <a href="appointment" class="btn btn-primary btn-icon m-3">
                               
                                <span class="text">Appointment</span>
                            </a>
                        </div>
                        <div class=" card shadow ">
                            
                            <div class="card-body">
                                <img src="img/undraw_schedule_re_2vro.svg" alt="there will be no missed lectures now with day by day updated schedule by studentHub" class="img-fluid px-3 px-sm-2 mt-3" style="width: 25rem;">
                            </div>
                            <a href="schedule" class="btn btn-primary btn-icon m-3">
                               
                                <span class="text">Schedule</span>
                            </a>
                        </div>
                        <div class=" card shadow ">
                            
                            <div class="card-body">
                                <img src="img/undraw_teamwork_hpdk.svg" alt="Student clubs and activities always matter to active students and this is your studentHub pool to gather all needed information" class="img-fluid px-3 px-sm-2 mt-3" style="width: 25rem;">
                            </div>
                            <a href="clubs" class="btn btn-primary btn-icon m-3 ">
                               
                                <span class="text">Clubs</span>
                            </a>
                        </div>
                </div>
                <!-- /.container-fluid -->
</div>
</div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ("footer.ejs") %>
            <!-- End of Footer -->

        
        <!-- End of Content Wrapper -->

    
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>
    <!-- Logout Modal-->
    <%- include ("logout.ejs") %>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/main.js"></script>

    <!-- Page level plugins -->
    

    <!-- Page level custom scripts -->
    <script type="text/javascript">
        var idleTime = 0;
        $(document).ready(function () {
            // Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute
    
            // Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });
    
        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 19) { // 20 minutes
                window.location.reload();
            }
        }
    </script>

</body>

</html>